.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

.menuItem {
    display: inline-block;
}

.menuItemActive {
    text-decoration: underline;
}

.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px auto;
}
